@import 'tailwindcss';
/* @import 'tailwindcss/preflight' layer(base); */
@plugin '@tailwindcss/typography';

@import './fonts.css';

@theme {
	--color-primary: #171412;
	--color-secondary: #eae0d5;
	--color-accent: #c6ac8f;
	--color-secondary-accent: #22333b;
	--color-neutral: #756b5e;

	--font-sans: 'Fredoka', sans-serif;
	--font-lexend-giga: 'Lexend Giga', 'Lexend', sans-serif;
	--font-lexend: 'Lexend', sans-serif;
	--font-urbanist: 'Urbanist', sans-serif;
}

@layer base {
	h1 {
		@apply font-lexend-giga text-secondary text-left text-4xl font-bold;
	}
	h2 {
		@apply font-lexend-giga text-accent text-left text-2xl font-bold;
	}
	h3 {
		@apply font-lexend-giga text-neutral text-left text-xl font-bold;
	}
	p {
		@apply font-urbanist text-secondary text-left;
	}
}
